#goals {
    width: 90%;
    max-width: 40rem;
    margin: 3rem auto;
    border-radius: 12px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
    background-color: white;
  }
  
  #goal-form {
    width: 90%;
    max-width: 40rem;
    margin: 3rem auto;
    padding: 2rem;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    background-color: white;
  }
  